html {
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: url("3.jpeg")

}

body {
  height: 100%;
  width: 100%;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-top: 0;

}

#title {
  text-align: center;
  line-height: 100px;
  width: 50%;
  height: 20%;
  font-family: "English157 BT";
  font-size: 20px;

}



h1 {
  margin: 0;
  color: rgba(51,51,153,0.8);
  text-decoration: underline;


}

#subtitle {
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  top: 90px;
  color: white;
  min-width: 1030px;


}
span {
  color: white;
  text-decoration: none;
}



.navigation {
  float: left;
  width: 300px;
  height: 260px;
  padding: 0 0 0 0;
  margin: 120px 20px 0 0;
  list-style: none;

}

#text {
  overflow: hidden;
  height: auto;
  background: rgba(0,0,0,0.3);
  text-align: left;
  color: white;
  margin: 120px 20px 20px 0;
  padding: 20px;
  font-family: "Corbel";
  font-size: 20px;
  min-height: 220px;
}

.nav-item {
  height: 50px;
  margin-top: 1px;
  margin-right: 0; 
}

.nav-item a {
  margin: 0;
  color: white;
  font-family: "Corbel";
  font-size: 25px;
  font-style: bold;
  text-decoration: none;
  width: 300px;
  height: 50px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background: rgba(0,0,0,0.3);

}

.nav-item a:hover {
  color: white;
  background: linear-gradient(135deg, rgba(0,0,0,0.3) 15%,rgba(51,51,153,0.65) 100%);
}



/* Additional non-critical styles */



/* Micro reset 
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}
html, body { height: 100%; width: 100%; font-family: Helvetica, Arial, sans-serif; }*/